<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GRAVITY</title>
</head>
<body>
    <section id="forms">
        <header>
            <h2>Enter the details</h2>
        </header>
        <form action="/submit" method="post">
            <input type="text" name="name" placeholder="Enter your name : ">
            <input type="text" name="email" placeholder="Enter your email : ">
            <input type="text" name="uid" placeholder="Enter your UID : ">
            {% if already_exists %}
                <h2>Already Exists</h2>
            {% endif %}
            <button type="submit">SUBMIT</button>
        </form>
    </section>
</body>
</html>